.about{
    border: 1px solid red;
    height: 100vh;
    background:$textColorLight;
    .container{
        max-width: 73.125rem;
        margin: 0 auto;
        @media (max-width: 1180px) {
            max-width: 60.125rem;
        }
        @media (max-width: 980px) {
            max-width: 47.125rem;
        }
    }
    &__wrapper{
        padding: 0 0.935em;
    }
    &__title{
        margin: 0 auto;
        display: inline-block;
        padding: 1.25em;
        background-color:$darkColor;
        @include text(1.5rem, 700, 120%, $accentColor);
        letter-spacing: normal;
        text-transform: uppercase;
        margin: 4.25em 0 9.45em 0;
        position: relative;
        @media (max-width: 768px) {
            margin: 4.25em 0 6.45em 0;
        }
        @media (max-width: 576px) {
            margin: 4.25em 0 3.45em 0;
        }
        @media (max-width: 380px) {
            margin: 4.25em 0 2.45em 0;
        }
        &::after{
            content: "";
            display: block;
            width: 100%;
            height: 2%;
            background-color:$darkColor;
            position: absolute;
            top: 50%;
            left: 100%;
            @media (max-width: 576px) {
                width: 80%;
            }
            @media (max-width: 400px) {
                width: 70%;
            }
            @media (max-width: 380px) {
                width: 40%;
            }
        }
    }
    &__text{
        @include text(1.5rem, 400, 160%, $darkColor);
        text-align:center;
        @media (max-width: 380px) {
            @include text(1.25rem, 400, 140%, $darkColor);
        }
    }
}