.footer{
    height: 150px;
    background-color:#81C341;
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    &__wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top{
        display: flex;
        margin: 15px 0;
        position: relative;
        z-index: 2;
    }
    &__btnTop{
        display: inline-block;
        width: 50px;
        height: 50px;
        
        border:1px solid red;
        position: fixed;
        right: 14%;
        bottom: 19%;
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 50px;
            height: 50px;
            background-image: url("./../images/up-arrow.png");
            background-size: cover;
            top: 0;
            left: 0;
            box-shadow: 0 0 15px #476b23;
        }
    }
    &__iconwrap{
        width: 50px;
        height: 50px;
        border:2px solid #3E3E3E;
        border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
        margin-right: 15px;
}
    &__icon{
        width: 100%;
        padding: 5px; 
    }

    &__copyright{
        margin-top: 22px;
        color:#3E3E3E;
    }
}