.header{
    background-color:#3E3E3E;
    @include text(1rem, 500, 108%, $textColorLight);
    padding: 1.875em 0;
    position: sticky;
    top: 0;
    z-index: 999;
    .container{
        max-width: 73.125rem;
        margin: 0 auto;
        @media (max-width: 1180px) {
            max-width: 60.125rem;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        padding: 0 0.935em;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        max-width: 55rem;
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__nav{
        display: flex;
        font-weight: 500;
        letter-spacing: 0.05em;
    }
    &__list{
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    &__item{
        margin-right: 2.5rem;
        @media (max-width: 1180px) {
            margin-right: 1.5rem;
        }
    }
    &__item:last-child{
        margin-right: 0;
    }
    &__link{
        text-decoration: none;
        color:$textColorLight;
        &:hover{
            // font-weight: 600;
            color:$accentColor;
            transition: color 0.8s ease;
            -webkit-transition: color 0.8s ease;
            -moz-transition: color 0.8s ease;
            -ms-transition: color 0.8s ease;
            -o-transition: color 0.8s ease;
        }
    }
}

.logo{
    font-size: 1.25rem;
    position: relative;
    font-weight: 600;
    &:hover{
        color:$accentColor;
        transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
    }
    &__wrapper{
        width: 1.25rem;
        height: 1.988rem;
        box-shadow: 4px 4px 5px 0px #9e945b;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
}
    &__y{
        position: absolute;
        top: 0%;
        left: 0;
    }
    &__k{
        position: absolute;
        top: 44%;
        left: 40%;
    }
    &__dev{
        position: absolute;
        top: 20%;
        left: 125%;
    }
}

.burger-menu{
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: center;
        @media (max-width: 768px) {
        display: flex;
    }
    &__line{
        display: inline-block;
        width: 30px;
        height: 3px;
        background-color:#F2F2F2;
        margin-bottom: 5px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}