.header{
    background-color:#3E3E3E;
    color:#81C341;
    padding: 20px;
    .container{
        max-width: 1140px;
        margin: 0 auto;
    }
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        justify-content: flex-end;
    }
    &__list{
        list-style-type: none;
        display: flex;
    }
    
    &__item{
        margin-right: 25px;
    }
    &__item:last-child{
        margin-right: 0;
    }
    &__link{
        text-decoration: none;
        color:#81C341;
    }
}