.header{
    background-color:#3E3E3E;
    @include text(1rem, 500, 108%, $textColorLight);
    padding: 1.875em;
    position: sticky;
    top: 0;
    z-index: 999;
    .container{
        max-width: 71.25rem;
        margin: 0 auto;
    }
    &
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__nav{
        display: flex;
        font-weight: 500;
        letter-spacing: 0.05em;
    }
    &__list{
        list-style-type: none;
        display: flex;
    }
    &__item{
        margin-right: 40px;
    }
    &__item:last-child{
        margin-right: 0;
    }
    &__link{
        text-decoration: none;
        color:$textColorLight;
        &:hover{
            color:$accentColor;
            transition: color 0.8s ease;
            -webkit-transition: color 0.8s ease;
            -moz-transition: color 0.8s ease;
            -ms-transition: color 0.8s ease;
            -o-transition: color 0.8s ease;
        }
    }
}

.logo{
    font-size: 1.25rem;
    position: relative;
    font-weight: 600;
    &:hover{
        color:$accentColor;
        transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
    }
    &__wrapper{
        width: 1.25rem;
        height: 1.688rem;
        box-shadow: 4px 4px 5px 0px #9e945b;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        -ms-border-radius:3px;
        -o-border-radius:3px;
}
    &__y{
        position: absolute;
        top: -19%;
        left: 0;
    }
    &__k{
        position: absolute;
        top: 19%;
        left: 40%;
    }
    &__dev{
        position: absolute;
        top: 0;
        left: 125%;
    }
}