.main{
    height: 100%;
    background: linear-gradient(180deg, rgba(62,62,62,1) 55%, rgba(242,242,242,1) 50%);
    .container{
        max-width: 73.125rem;
        margin: 0 auto;
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        padding: 9.06em 0.935em;
    }
    &__wrap-title{
        margin: 3.75em 2em 0 0;
    }
    &__text{
        @include text(1.25rem, 700, 200%, $accentColor);
        letter-spacing: 0.05em;
        margin: 0 0 1.75em;
        text-transform: uppercase;
    }
    &__title{
        @include text(2.25rem, 700, 110%, $secondaryColor);
        letter-spacing: normal;
        text-transform: uppercase;
        margin: 0 0 0.975em;
    }
    &__wrap-img{
        height: auto;
        max-width: 550px;
        overflow: hidden;
        box-shadow: 48px 24px 52px 35px rgba(107, 160, 51, 0.2);
        position: relative;
        z-index: 3;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
    }
    &__img{
        width: 100%;
        object-fit: cover;
}
}

.main__text span{
    text-transform: none;
}