.main{
    // border: 1px solid red;
    height: 100%;
    background: linear-gradient(180deg, rgba(62,62,62,1) 55%, rgba(242,242,242,1) 50%);
    @media (max-width: 1180px) {
        background: linear-gradient(180deg, rgba(62,62,62,1) 58%, rgba(242,242,242,1) 50%);
    }
    @media (max-width: 980px) {
        background: linear-gradient(180deg, rgba(62,62,62,1) 61%, rgba(242,242,242,1) 50%);
    }
    .container{
        max-width: 73.125rem;
        margin: 0 auto;
        @media (max-width: 1180px) {
            max-width: 60.125rem;
        }
        @media (max-width: 980px) {
            max-width: 47.125rem;
        }
    }
    &__wrap{
        display: flex;
        justify-content: space-between;
        padding: 9.06em 0.935em;
        @media (max-width: 1180px) {
            padding: 7.06em 0.935em;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            align-items:center;
            padding: 2.06em 0.935em;
        }
    }
    &__wrap-title{
        margin: 3.75em 2em 0 0;
        @media (max-width: 1180px) {
            margin: 5.75em 2em 0 0;
        }
        @media (max-width: 980px) {
            margin: 3.75em 2em 0 0;
        }
        @media (max-width: 768px) {
            margin: 3.75em 0 3em 0;
        }
    }
    &__text{
        @include text(1.25rem, 700, 200%, $accentColor);
        letter-spacing: 0.05em;
        margin: 0 0 1.75em;
        text-transform: uppercase;
        @media (max-width: 1180px) {
            max-width: 24rem;
            margin: 0 0 0.75em;
        }
        @media (max-width: 1180px) {
            font-size: 0.85rem;
            margin: 0 0 1.25em;
        }
    }
    &__title{
        @include text(2.25rem, 700, 110%, $secondaryColor);
        letter-spacing: normal;
        text-transform: uppercase;
        margin: 0 0 0.975em;
        @media (max-width: 1180px) {
            margin: 0 0 0.55em;
            font-size: 2.05rem;
            letter-spacing: 0.05em;
        }
        @media (max-width: 768px) {
            font-size: 1.65rem;
        }
        @media (max-width: 360px) {
            font-size: 1.45rem;
        }
        @media (max-width: 320px) {
            font-size: 1.15rem;
        }
    }
    &__wrap-img{
        height: auto;
        max-width: 34.375rem;
        overflow: hidden;
        box-shadow: 48px 24px 52px 35px rgba(107, 160, 51, 0.2);
        position: relative;
        z-index: 3;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        @media (max-width: 1180px) {
            max-width: 27.125rem;
        }
        @media (max-width: 980px) {
            max-width: 25.125rem;
        }
    }
    &__img{
        max-width: 100%;
        // width: 80%;
        min-width: 10%;
        height: auto;
        object-fit: cover;
}
}

.main__text span{
    text-transform: none;
    @media (max-width: 1180px) {
        display: none;
    }
}