.skills{
    background-color: #3E3E3E;
    height: 100vh;
    display: flex;
    // align-items: center;
    justify-content: center;
    .container{
        width: 1140px;
        margin: 0 auto;
    }
    &__title{
        margin: 0 auto;
        display: inline-block;
        padding: 15px 45px; 
        background-color:#3E3E3E;
        border: 2px solid #81C341;
        color:#81C341;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: normal;
        text-transform: uppercase;
        margin: 40px 0 30px 0;
        line-height: 1.1;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 200px;
            height: 2px;
            background-color:#81C341;
            position: absolute;
            top: 50%;
            left: 100%;
        }
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
    }
    &__wrap-img{
        max-width: 400px;
        margin-top: 25px;
    }
    &__image{
        width: 100%;
    }
    &__wrap{
        width: 60%;
        max-width: 800px;
        padding: 0 20px;
    }
}


.skill__name{
    font-size: 18px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill__bar{
    height: 8px;
    background-color:#686767;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

.skill__per{
    height: 8px;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius:3px;
    position: relative;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    animation: fillBars 3s 1;
    -webkit-animation: fillBars 3s 1;
}
.skill__per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #f1f1f1;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    z-index: 5;
}

.skill__per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    -webkit-transform: translateX(50%) rotate(45deg);
    -moz-transform: translateX(50%) rotate(45deg);
    -ms-transform: translateX(50%) rotate(45deg);
    -o-transform: translateX(50%) rotate(45deg);
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    z-index: 4;
}

@keyframes fillBars{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
