.social{
    display: flex;
    &__iconwrap{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        border:2px solid $textColorLight;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
        margin-right: 15px;
        &:hover{
            transform: scale(1.2);
            transition: all .3s ease;
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            border:2px solid $accentColor;
}
    }
    &__icon{
        width: 100%;
        padding: 7px;
        fill:$textColorLight;
        &:hover{
            fill:$accentColor;
        }
    }
}