.social{
    display: flex;
    &__iconwrap{
        width: 30px;
        height: 30px;
        // border:2px solid #81C341;
        // border-radius:5px;
        // -webkit-border-radius:5px;
        // -moz-border-radius:5px;
        // -ms-border-radius:5px;
        // -o-border-radius:5px;
        margin-right: 15px;
        &:hover{
            transform: scale(1.5);
            transition: all .3s ease;
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
}
}
    &__icon{
        width: 100%;
        padding: 5px; 
        
    }
}