@import "./abstracts/vars";
@import "./abstracts/mixins";


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #F2F2F2;
    color: black;
    font-family: 'Montserrat', sans-serif;
    min-width: 320px;
}

@import './header';
@import './social';
@import './main';
@import './about';
@import './skills';
@import './portfolio';
@import './contacts';
@import './form';
@import './footer';