body {
    background-color: #F2F2F2;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

@import './header.scss';
@import './main.scss';
@import './about.scss';
@import './skills.scss';
@import './portfolio.scss';
@import './contacts.scss';
@import './footer.scss';